body 
{
	background-color: ##FAFAFA;
	font-family: Calibri;
	font-size: 14px;
	font-weight: bold;
}

.form-group-login
{
	background-color: #58FA58;
	margin-top: -50px;
}

.jumbotron
{
	background-color: #58FA58;
	border-radius: 10px;
	box-shadow: 0 8px 16px -6px #000000;
}

.col-sm-10
{
	width: 450px;
	margin-top: 125px;
}

.form-control
{
	border-radius: 10px;
}

.form-horizontal
{
	background-color: #58FA58;
	margin-left: 20px;
	margin-right: 25px;
}

.login
{
	margin-left: 127px;
	margin-bottom: 15px;
}

.cizgi
{
	background-color: red;
}

.btn
{
	font-size: 20px;
	border-radius: 10px;
	margin-top: 20px
}

.btn:hover
{
	color: white;
	border-radius: 10px;
}

.forget
{
	margin-left: 130px;
	font-size: 16px;
	color: red;
}

.forget:hover
{
	margin-left: 130px;
	font-size: 16px;
	color: red;
}

.attribute
{
	font-size: 14px;
}

input[type=text] {
    border: none;
    border-bottom: 2px solid red;
    height: 40px;
    margin-left: 5px;
    margin-top: 2px;
}

input[type=password] {
    border: none;
    border-bottom: 2px solid red;
    height: 40px;
    margin-left: 5px;
    margin-top: 2px;
    border-radius: 5px;
}

input[type=email] {
    border: none;
    border-bottom: 2px solid red;
    height: 40px;
    margin-left: 5px;
    margin-top: 2px;
    border-radius: 5px;
}

.input-group-addon
{
	width: 30px;
	height: 40px;
	padding-top: 12px;
}

.form-group .input-group-addon
{
	background-color: #F2F2F2;
	margin-top: 2px;
	border: none;
    border-bottom: 2px solid red;
    border-radius: 5px;
}

.signIn
{
	color: red;
	font-size: 16px;
	margin-left: 10px;
}

.signIn:hover
{
	color: red;
}

@media only screen and (max-width: 800px) {
    .ortala{
        padding: 0 25%;
    }
    .resim{
        display: none;
    }
}
        
.deep-blue-gradient {
  	background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}
        
.warm-flame-gradient {
  	background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
}
        
.warm-flame-gradient:hover {
    background-image: linear-gradient(65deg, #ff9a9e 100%, #fad0c4 99%, #fad0c4 0%);
}

#kaydir{
    padding-top: 70px;
}
            
.resim{
    height: 70px;
    width: 130px;
    padding-right: 13px;
    border-radius: 3px;
    opacity: 0.9;
}
            
tr:hover .resim{
    opacity: 1;
    transform: scale(1.1);
}
a{
    color:black;
}
a:hover{
    text-decoration: none;
}
.bolum{
    padding: 20px 0;
}
.saga{
    padding-left: 30px;
}