<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content = "width = device - width, initial - scale = 1, shrink-to-fit = no">
        <link rel="stylesheet" href="static/css/bootstrap.min.css">
        <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
        <link rel="stylesheet" href="static/css/style.css">
        <title>İletisim</title>

        <!-- Axios and CSRF -->
            <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <!-- Axios and CSRF -->
    </head>

    <body>
    <div class="container">
        <header>
          <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light border-bottom">
              <a class="navbar-brand" href="#"><img src="static/img/logo.png" width="40" height="40"></a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                      <li class="nav-item active">
                          <a class="nav-link" href="{{ url_for('sample_route') }}">Anasayfa <span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Kategoriler</a>
                          <div class="dropdown-menu " aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="#">Sempozyumlar</a>
                              <a class="dropdown-item" href="#">Kültürel Etkinlikler</a>
                              <a class="dropdown-item" href="#">Spor Etkinlikleri</a>
                              <a class="dropdown-item" href="#">Burslar</a>
                          </div>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="http://bookeder.com/weather/istanbul-18319">Hava Durumu</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="{{ url_for('hakkımızda') }}">Hakkımızda</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link " href="{{ url_for('iletisim') }}">İletişim</a>
                      </li>
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ url_for('register') }}" style="padding-right: 20px"><span><i class="fas fa-user"></i></span> Kayıt Ol </a></li>
                        <li class="nav-item dropdown " style="padding-right: 20px">
                            <a href="{{ url_for('login') }}"><span><i class="fas fa-sign-in-alt"></i></span>Giriş</a>
                        </li>
                    </ul>
              </div>
          </nav>
        </header>
   </div>

   <div style="margin-top: 70px"></div>
   <div class="container" >
       <section id="contact">
           <div class="container">
               <div class="well well-sm">
                   <h3><strong>İletişim</strong></h3>
               </div>
                    <div class="row">
                        <div class="col-md-7">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d24079.608201752977!2d28.8910946!3d41.0263274!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd763db84ab764d9c!2zWVTDnCBCaWxnaXNheWFyIE3DvGhlbmRpc2xpxJ9p!5e0!3m2!1str!2str!4v1522082471623" width="100%" height="315" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                        <div class="col-md-5">
                            <h4><strong>Bize Ulaşın</strong></h4>
                                <form name="form" method="post">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id= "name" name="name" value="" placeholder="İsim" required />
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control" id="email" name="email" value="" placeholder="E-mail" required />
                                    </div>
                                    <div class="form-group">
                                        <input type="tel" class="form-control" id="phone" pattern = "[0-9]{11}" title = "Sadece numara girişi yapınız." name="phone" value="" placeholder="Telefon" required />
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control" name="message" id="message" rows="3" placeholder="Mesaj" required /></textarea>
                                    </div>
                                    <button class="btn btn-default" type="submit" name="button" onclick="clickButton()">
                                        <i class="fa fa-paper-plane-o" aria-hidden="true"></i> Gönder
                                    </button>
                                </form>
                        </div>
                    </div>
           </div>
       </section>
   </div>
    
   <footer class="page-footer font-small stylish-color-dark pt-3">
       <!--Footer Links-->
       <div class="container text-center text-md-left">
           <div class="row">
               <div class="col-md-4">
                   <h5 class="text-uppercase mb-4 mt-3 font-weight-bold">Bu Haftasonu</h5>
                   <p>Üzgünüz, bölgenizde bu hafta sonu etkinlik bulunmuyor. Bölgenizi değiştirmeyi deneyin.</p>
               </div>
               <hr class="clearfix w-100 d-md-none">
               <div class="col-md-2 mx-auto">
                   <h5 class="text-uppercase mb-4 mt-3 font-weight-bold">YARDIM</h5>
                   <ul class="list-unstyled">
                       <li><a href="{{url_for('iletisim') }}">Bize Ulaşın</a></li>
                   </ul>
               </div>
               <hr class="clearfix w-100 d-md-none">
            <div class="col-md-2 mx-auto">
                <h5 class="text-uppercase mb-4 mt-3 font-weight-bold">HAKKIMIZDA</h5>
                <ul class="list-unstyled">
                    <li><a href="{{ url_for('hakkımızda') }}">Biz Kimiz?</a></li>
                </ul>
            </div>
                <hr class="clearfix w-100 d-md-none">
           </div>
       </div>
       <!--/.Footer Links-->
                     
       <!--Social buttons-->
       <div class="text-center border-top pt-4">
           <ul class="list-unstyled list-inline">
              <li class="list-inline-item"><a class="btn-floating btn-sm btn-fb mx-1"><i class="fab fa-facebook-f fa-2x"></i></a></li>
              <li class="list-inline-item"><a class="btn-floating btn-sm btn-tw mx-1"><i class="fab fa-twitter fa-2x"></i></a></li>
              <li class="list-inline-item"><a class="btn-floating btn-sm btn-gplus mx-1"><i class="fab fa-google-plus fa-2x"> </i></a></li>
              <li class="list-inline-item"><a class="btn-floating btn-sm btn-li mx-1"><i class="fab fa-linkedin fa-2x"> </i></a></li>
              <li class="list-inline-item"><a class="btn-floating btn-sm btn-dribbble mx-1"><i class="fab fa-dribbble fa-2x"> </i></a></li>
           </ul>
       </div>
       <!--/.Social buttons-->
      
        <!--Copyright-->
        <div class="footer-copyright py-3 text-center border-top pt-3 pb-3">
            <div class="container-fluid">
                © 2018 Copyright: <a href="#"> Yıldız Teknik Üniversitesi </a>
            </div>
        </div>
        <!--/.Copyright-->
   </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="/static/js/conn.js"></script>
    <script src="static/js/jquery-3.3.1.slim.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
  </body>
</html>